---
import { getEntry, render } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

const page = await getEntry("pages", "affiliate-disclosure");
if (!page) throw new Error("Affiliate disclosure page content is required");
const { Content } = await render(page);
---

<BaseLayout
  title={`${page.data.title} | StackBriefs`}
  description={page.data.description}
  reading
  breadcrumbs={[{ label: "Home", href: "/" }, { label: "Affiliate disclosure" }]}
>
  <article class="trusted-content">
    <header class="trusted-content__header">
      <h1>{page.data.title}</h1>
      <p class="trusted-content__lede">{page.data.description}</p>
      <p class="trusted-content__meta">
        Last reviewed <time datetime={page.data.lastReviewedAt}>{page.data.lastReviewedAt}</time>
      </p>
    </header>
    <Content />
  </article>
</BaseLayout>
